@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap');


body {
    font-family: "Epilogue", sans-serif;
    font-weight: 800;
    color: #fff;
    background: #FDF0E9;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

header, footer {
    background-color: #32334C;
    color: #e1e6f8;
    padding: 40px;
    text-align: center;
}

.train {
    position: relative;
}

.train__road {
    background: linear-gradient(110deg, rgb(255 224 45) 0%, rgb(255 138 4) 52%, rgb(255 212 0) 100%);
    width: 100%;
    height: 740px;
    position: relative;
}

.road__line {
    position: absolute;
    top: 63%;
    left: -20%;
    width: 130%;
    height: 150px;
    transform: skewX(320deg);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 15%, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 25%, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 1) 35%, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 55%, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 65%, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 75%, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 85%, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 95%, rgba(0, 0, 0, 1) 100%);
    border: 10px solid black;
}

.train__body {
    position: absolute;
    top: 27%;
    right: 40%;
    width: 100%;
    max-width: 380px;
}

.body__main {
    width: 180px;
    height: 250px;
    background-color: #85ccb1;
    position: relative;
}

.body__main::after {
    content: '';
    width: 60%;
    height: 70%;
    background: linear-gradient(70deg, #fdfbfb 0%, #def3ff 50%, #fdfbfb 100%);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body__roof {
    width: 100%;
    height: 30px;
    background: linear-gradient(176deg, rgba(133, 204, 177, 1) 0%, rgba(23, 152, 141, 1) 100%);
    transform: scaleX(1.2) translate(0, -100%);
}

.body__front {
    width: 200px;
    height: 150px;
    background: linear-gradient(120deg, #85ccb1 0%, #4dcc9f 100%);
    position: absolute;
    bottom: 0;
    left: 100%;
    border-radius: 0 40px 0 0;
}

.body__pipe {
    position: absolute;
    transform: translate(0, -100%);
    width: 30px;
    background-color: #85ccb1;
}

.body__pipe::after {
    content: '';
    width: 100%;
    height: 13px;
    background: linear-gradient(176deg, rgba(133, 204, 177, 1) 0%, rgba(23, 152, 141, 1) 100%);
    transform: scaleX(1.4);

}

.body__pipe--big {
    left: 110px;
    height: 60px;
}

.body__pipe--small {
    left: 40px;
    height: 40px;
}

.down__main {
    width: 100%;
    background: linear-gradient(109deg, rgba(4, 51, 33, 1) 0%, rgba(11, 97, 90, 1) 100%);
    transform: scaleX(1.15);

}

.down__main--big {
    height: 50px;
    border-radius: 15px 15px 0 0;
}

.down__main--small {
    height: 20px;
    margin-top: 4px;
    border-radius: 0 0 4px 4px;
}

.body__wheels {
    font-size: 0;
    transform: translateY(-45%);
}


.body__wheel:not(:last-child) {
    margin-right: 40px;
}

.wheel {
    display: inline-block;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 1) 35%);
    border: 3px solid #ffffff;
}

.wheel--big {
    width: 100px;
    height: 100px;
}

.wheel--small {
    width: 80px;
    height: 80px;
}

.body__connection {
    position: absolute;
    bottom: 112px;
    left: -68px;
    width: 40px;
    height: 20px;
    border-radius: 4px;
    background: rgba(4, 51, 33, 1);
}

.body__connection--first {
    left: -68px;
}

.body__connection--second {
    left: -542px;
}

.body__car {
    position: absolute;
    top: 0;
}

.body__car--first {
    left: -475px;
}

.body__car--second {
    left: -950px;
}

.car__main {
    width: 380px;
    height: 250px;
    background-color: #85ccb1;
    position: relative;
}

.car__main::after {
    content: '';
    width: 30%;
    height: 70%;
    background: linear-gradient(70deg, #fdfbfb 0%, #def3ff 50%, #fdfbfb 100%);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.car__main::before {
    content: '';
    width: 30%;
    height: 70%;
    background: linear-gradient(70deg, #fdfbfb 0%, #def3ff 50%, #fdfbfb 100%);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.car__wheels {
    font-size: 0;
    transform: translateY(-45%);
}

.car__wheel:not(:last-child) {
    margin-right: 170px;
}

.train__light {
    position: absolute;
    right: 20%;
    top: 5%;
}

.light {
    width: fit-content;
}

.light__body {
    padding: 20px;
    background-color: #2a2a30;
    box-shadow: 0 0 10px 2px #fff;
    border-radius: 60px;
    width: fit-content;
}

.light__signal:not(:last-child) {
    margin-bottom: 20px;
}

.signal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.signal--green {
    background: radial-gradient(circle, rgba(27, 187, 24, 1) 0%, rgba(42, 236, 19, 1) 100%);
    box-shadow: 0 0 20px 2px rgba(42, 236, 19, 1);

}

.signal--yellow {
    background: radial-gradient(circle, rgba(255, 247, 0, 1) 0%, rgba(255, 210, 27, 1) 100%);
    box-shadow: 0 0 20px 2px rgba(255, 210, 27, 1);

}

.signal--red {
    background: radial-gradient(circle, rgba(255, 12, 12, 1) 0%, rgba(231, 0, 0, 1) 100%);
    box-shadow: 0 0 20px 2px rgba(255, 12, 12, 1);
}

.light__pillar {
    width: 20px;
    height: 200px;
    margin: 0 auto;
    background: #2a2a30;
}

.car__roof {
    width: 100%;
    height: 20px;
    background: linear-gradient(176deg, rgba(133, 204, 177, 1) 0%, rgba(23, 152, 141, 1) 100%);
    transform: scaleX(1.05) translate(0, -100%);
}

.test {
    background-color: #0F0F0F;
    padding: 20px;
}

.test__list {
    font-size: 0;
    margin: 0 auto;
    width: 1020px;
    height: 630px;
}

.test__list:not(:last-child) {
    margin-bottom: 30px;
}

.test__card {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    background: rgba(103, 144, 255, 0.27);
    position: relative;
}

.test__card {
    margin-right: 60px;
    margin-bottom: 30px;
}

.test__card:nth-child(3n) {
    margin-right: 0;
}

.test__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(287deg, rgba(0, 19, 112, 1) 0%, rgba(0, 13, 150, 1) 36%, rgba(0, 32, 127, 1) 64%, rgba(0, 5, 95, 1) 100%);
    transition: all 0.5s;
}

.test__card:nth-child(1):hover .test__bg {
    transform: translate(15px, 15px);
}

.test__card:nth-child(2):hover .test__bg {
    transform: scale(1.2);
}

.test__card:nth-child(4):hover .test__bg {
    transform: rotate(360deg);
    transform-origin: 0 0;
}

.test__card:nth-child(3):hover .test__bg {
    transform: scaleX(-1);
}

.test__card:nth-child(5):hover .test__bg {
    transform: skew(10deg, 0);
}

.test__card:nth-child(6):hover .test__bg {
    transform: rotate(3deg);
    transform-origin: bottom right;
}

.test__list--perspective .test__card {
    perspective: 300px;
    perspective-origin: center;
    transform-style: preserve-3d;
}

.test__list--perspective .test__card:nth-child(1):hover .test__bg {
    transform: translate3d(20px, 20px, 20px);
}

.test__list--perspective .test__card:nth-child(2):hover .test__bg {
    transform: scale3d(1.1, 1.1, 1.1);
}

.test__list--perspective .test__card:nth-child(3):hover .test__bg {
    transform: rotate3d(1, 0, 0, 360deg);
}

.test__front, .test__back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 1s;
}

.test__front {
    background-color: #85ccb1;
    z-index: 1;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.test__back {
    background-color: #B550F8;
    transform: rotateY(180deg);
}

.test__card:hover .test__back {
    transform: rotateY(0deg);
}

.test__card:hover .test__front {
    transform: rotateY(-180deg);
}

.test__card--transparent {
    background-color: transparent;
}